<!DOCTYPE html>
<html>
<head>
  <title>Exemplo de documentos do MongoDB</title>
</head>
<body>
  <h1>Documentos na coleção "response"</h1>
  <% documents.forEach((document) => { %>
    <p>Nome: <%= document.name %></p>
    <p>Idade: <%= document.age %></p>
    <hr>
  <% }); %>
</body>
</html>