<!DOCTYPE html>
<html>
<head>
  <title>Exemplo de documentos do MongoDB</title>
</head>
<body>
  <h1>Documentos na coleção "response"</h1>
  <% documents.forEach((document) => { %>
    <p>Nome: <%= document.displayName %></p>
    <p>OtherName: <%= document.developerName %></p>
    <hr>
  <% }); %>
</body>
</html>